* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gg sans Normal', sans-serif;
}

:root {
    --bg-colour_header: rgb(49, 97, 224);
    --bg-colour_footer: rgb(35, 39, 42);
    --bg-colour_fonth3: rgb(255, 255, 255);
    --bg-colour_button: rgb(142, 161, 225);
}

header {
    background-color: var(--bg-colour_header);
    width: 100%;
    height: 100px;
}

.flex {
    display: flex;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.logo,
.login {
    width: 20%;
    height: 50%;
}


p {
    width: 60%;
    text-align: center;
    color: var(--bg-colour_fonth3);
    font-size: 1rem;
    margin: 0 2rem;
    display: inline;
}

.login {
    border-radius: 10rem;
    background-color: var(--bg-colour_fonth3);
    width: 4rem;
    height: 2rem;
    text-align: center;
}



.jumbotron {
    width: 100%;
    height: 1000px;
    margin: auto;
    background-image: url(.//images/jumbo.png);
    background-size: cover;
    justify-content: center;
}

/* .container-sm {
    align-content: center;
    padding-top: 200px;
    color: var(--bg-colour_fonth3);

} */

.container-sm {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding-top: 200px;
    justify-content: center;
}

.title {
    font-size: 60px;
    text-align: center;
    color: var(--bg-colour_fonth3);
    display: block;

}

.subtitle {
    text-align: center;
    font-size: 30px;
    color: var(--bg-colour_fonth3);
}



.row {
    display: flex;
    margin-bottom: 250px;
    margin-top: 100px;

}

.col-4 {
    width: calc(100% / 12 * 4);
    padding: 25px 10px;
}

.col-8 {
    width: calc(100% / 12 * 8);
    padding: 0px 5px;
}

h2 {
    font-size: 50px;
    font-family: 'gg sans', sans-serif;
}

span {
    font-size: 30px;
}

.sx {
    padding-right: 2rem;
}

.dx {
    padding-left: 5rem;
}



.bottom {
    text-align: center;
    font-size: 55px;
}

span.bottom {
    font-size: 20px;
    font-family: 'gg sans Medium', sans-serif;
}

.center {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.stars {
    justify-content: center;
    margin-bottom: 40px;
}

.mac {
    width: 150px;
    height: 50px;
    background-color: var(--bg-colour_button);
    border-radius: 2rem;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    color: var(--bg-colour_fonth3);
}

h3 {
    font-size: 30px;
    padding-left: 50px;
}

h4 {
    align-items: center;
}